.user {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(248, 248, 248);
  
  height: 100%;
  width: 100%;

  padding-top: 10px;

  p {
    display: block;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;

    margin-top: 10px;
  }

  &__btn-delete {
    display: block;

    cursor: pointer;

    outline: none;
    border: 1px darkred solid;
    border-radius: 4px;
    background-color: white;

    width: 100px;
    height: 35px;

    margin: 0 auto;
    margin-top: 25px;

    transition: background-color .3s;

    &:hover {
      background-color: red;
    }
  }
}